body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: left
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.characterShowImg {
  width: 200px;
  height: auto;
  float: left;
}

.comicShowImg {
  width: 200px;
  height: auto;
  float: left;
}

span.comicContainer {
  display: flex;
  justify-content: left;
}
.comicList {
  font-size: small;
}

.comicCharacters {
  font-size: small;
  display: flex;
  justify-content: left
}